<template>
  <div>
    <h1 class="mb-0">Masukkan<br>Kata sandi Baru</h1>
    <h5 class="text-black">Masukkan Password Baru</h5>
    <GantiPassBaru></GantiPassBaru>
  </div>
</template>

<script>
import auth0 from "auth0-js";
import GantiPassBaru from "@/components/Forms/GantiPassBaru";
import constant from "@/static/assets/config/constant";

export default {
  auth:false,
  layout: "auth",
  name: "SignIn1",
  components: { GantiPassBaru },
  data: () => ({}),
  mounted() {
    const loggedIn = localStorage.getItem("access_token");
    if (loggedIn !== undefined && loggedIn !== null) {
      this.$router.push({ name: "mini.dashboard.home-2" });
    }
  },
  methods: {
    loginOAuth0: function () {
      new auth0.WebAuth(constant.auth0Config).authorize();
    },
  },
};
</script>