<template>
  <b-container fluid>
    <b-row>
      <b-col lg="12">
        <iq-card>
          <template v-slot:headerTitle>
            <h2 class="card-title">Evaluasi</h2>
          </template>
          <template v-slot:body>
            <!-- <p class="text-black">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Neque id
              pellentesque cursus justo pellentesque. Turpis dictum quis enim
              hac. Iaculis a pulvinar mi commodo dui volutpat adipiscing morbi.
              Ornare risus fermentum sem nulla a, etiam. Aliquet sit egestas leo
              ut id sit. Pharetra velit diam posuere vehicula. Nam cras.
            </p> -->
            <b-row>
              <b-col sm="2">
                <h5>Filter by :</h5>
              </b-col>
              <b-col sm="2">
                <b-button-group class="mr-2">
                  <b-dropdown variant="info" text="Status">
                    <b-dropdown-item href="#">Sudah</b-dropdown-item>
                    <b-dropdown-item href="#">Belum</b-dropdown-item>
                  </b-dropdown>
                </b-button-group>
              </b-col>
            </b-row>

            <b-row>
              <b-col md="12" class="table-responsive">
                <b-table head-row-variant="primary"
                bordered hover :items="rows" :fields="columns">
                  <template v-slot:cell(status)="data">
                    <b-button
                      pill
                      v-if="data.item.status == 'sudah'"
                      variant="none"
                      class="iq-bg-primary"
                    >
                      <b>Sudah</b>
                    </b-button>
                    <b-button pill v-else variant="none" class="iq-bg-danger">
                      <b>Belum</b>
                    </b-button>
                  </template>
                  <template v-slot:cell(name)="data">
                    <span>{{ data.item.fullname }}</span>
                  </template>
                  <template v-slot:cell(role)="data">
                    <span>{{ data.item.roles[0] }}</span>
                  </template>
                  <template v-slot:cell(action_)>
                    <nuxt-link to="/evaluasi/pertanyaan">
                      <b-button
                        pill
                        variant="outline-primary"
                        class="iq-bg-primary"
                        ><b>Mulai</b></b-button
                      >
                    </nuxt-link>
                  </template>
                </b-table>
              </b-col>
            </b-row>
          </template>
        </iq-card>
      </b-col>
    </b-row>
  </b-container>
</template>
<script>
import { xray } from "@/static/assets/config/pluginInit";
import { mapGetters } from "vuex";
import IqCard from "@/components/cards/iq-card";
export default {
  layout: "admin",
  components: { IqCard },
  data() {
    return {
      columns: [
        { label: "Status", key: "status", class: "text-left" },
        { label: "Nama", key: "name", class: "text-left" },
        { label: "Jabatan", key: "role", class: "text-left" },
        { label: "Mulai Kerjakan", key: "action_", class: "text-left" },
      ],
      rows: [],
      evaluationList: []
    };
  },
  mounted() {
    xray.index();
    this.fetchEvalList()
  },
  computed: {
    ...mapGetters({
      lang: "Setting/langState",
    }),
  },
  watch: {},
  methods: {
    add() {
      let obj = this.default();
    },
    default() {
      return {
        id: this.rows.length,
        status: "",
        date: "",
        name: "",
        role: "",
        editable: false,
      };
    },
    edit(item) {
      item.editable = true;
    },
    submit(item) {
      item.editable = false;
    },
    remove(item) {
      let index = this.rows.indexOf(item);
      this.rows.splice(index, 1);
    },
    fetchEvalList()
    {
      this.$axios.$get("users/evaluations/list").then(res => {res.map(obj =>{
        const rows = obj.evaluatee
        this.rows.push(rows)
        console.log(this.rows)
      })})
    }
    
  },
};
</script>