<template>
  <b-container>
    <div>
      <b-card class="iq-mb-3" header="Informasi Pribadi">
        <b-tabs content-class="mt-3" justified>
          <b-tab title="Informasi Pribadi" active>
            <b-row>
              <b-col>
                <img
                  :src="gambardariBASE64"
                  class="img-fluid rounded"
                  width="100"
                  height="100"
                  alt="user"
                />
                <div>
                  <b-button variant="outline-primary" v-b-modal.modal-1
                    >Ganti Foto</b-button
                  >

                  <b-modal id="modal-1" title="Ganti Foto">
                    <p class="my-4">ssf</p>
                    <div class="custom-file mb-3">
                      <input
                        required
                        type="file"
                        class="custom-file-input"
                        id="file_foto"
                        name="file_foto"
                        onchange="return validasiFile()"
                        accept="image/*"
                      />
                      <label class="custom-file-label" for="file_foto"
                        >File max 1MB</label
                      >
                    </div>
                    <script>
                      function validasiFile() {
                        var e,
                          i = document.getElementById("file_foto"),
                          a = i.value;
                        if (
                          (1097152 < i.files[0].size &&
                            (toastr.warning(
                              "file tidak bisa diatas 1MB",
                              "Gagal!"
                            ),
                            (i.value = "")),
                          !/(\.jpg|\.jpeg|\.png)$/i.exec(a))
                        )
                          return (
                            toastr.warning(
                              "hanya bisa file JPG, JPEG, PNG",
                              "Gagal!"
                            ),
                            (i.value = ""),
                            !1
                          );
                        i.files &&
                          i.files[0] &&
                          (((e = new FileReader()).onload = function (e) {
                            document.getElementById("imagePreview").innerHTML =
                              '<img src="' +
                              e.target.result +
                              '" class="img-fluid" width="200" height="200"/>';
                          }),
                          e.readAsDataURL(i.files[0]));
                      }
                    </script>
                    <div id="imagePreview"></div>
                    <b-button @click="saveToLocalStorage"> SAVE </b-button>
                  </b-modal>
                </div>
              </b-col>
              <b-col> </b-col>
            </b-row>
            <b-form>
              <b-row>
                <b-col>
                  <b-form-group
                    id="input-name-group"
                    label="Nama :"
                    label-for="input-name"
                  >
                    <b-form-input
                      id="input-name"
                      v-model="user.fullname"
                    ></b-form-input>
                  </b-form-group>
                </b-col>
                <b-col>
                  <b-form-group label="Email" label-for="input-email">
                    <b-form-input
                      id="input-email"
                      v-model="user.email"
                    ></b-form-input>
                  </b-form-group>
                </b-col>
                <div class="w-100"></div>
                <b-col>
                  <b-form-group label="Jabatan :" label-for="input-jabatan">
                    <b-form-input id="input-jabatan"></b-form-input>
                  </b-form-group>
                </b-col>
                <b-col>
                  <b-form-group label="NIP" label-for="input-NIP">
                    <b-form-input id="input-NIP"></b-form-input>
                  </b-form-group>
                </b-col>
                <div class="w-100"></div>
                <b-col>
                  <b-form-group label="Nomer Telepon" label-for="input-phone">
                    <b-form-input id="input-phone"></b-form-input>
                  </b-form-group>
                </b-col>
                <b-col>
                  <b-form-group label="Tanggal Lahir" label-for="input-ttl">
                    <b-form-input id="input-ttl"></b-form-input>
                  </b-form-group>
                </b-col>
              </b-row>
              <b-button variant="primary" @click="saveProfile">Simpan</b-button>
              <b-button href="/" variant="danger">Batal</b-button>
            </b-form>
          </b-tab>
          <b-tab title="Ganti Kata Sandi">
            <b-form>
              <b-form-group
                id="input-old-password-group"
                label="Kata Sandi Saat Ini"
                label-for="input-old-password"
              >
                <b-form-input
                  type="password"
                  v-model="user.current_pass"
                  id="input-old-password"
                ></b-form-input>
              </b-form-group>
              <b-form-group label="Kata Sandi Baru " label-for="password">
                <b-form-input
                  type="password"
                  v-model="user.new_password"
                  id="input-password"
                ></b-form-input>
              </b-form-group>
              <b-form-group
                label="Konfirmasi Kata Sandi"
                label-for="input-c_password"
              >
                <b-form-input
                  type="password"
                  v-model="user.confirm_pass"
                  id="input-c_password"
                ></b-form-input>
              </b-form-group>
              <b-button @click="changePass" variant="primary">Simpan</b-button>
              <b-button type="reset" variant="danger">Batal</b-button>
            </b-form>
          </b-tab>
        </b-tabs>
      </b-card>
    </div>
  </b-container>
</template>
<script>
import tabNav from "../../../components/tab/tab-nav.vue";
import tabNavItems from "../../../components/tab/tab-nav-items.vue";
import tabContent from "../../../components/tab/tab-content.vue";
import tabContentItem from "../../../components/tab/tab-nav-items.vue";
import { xray } from "@/static/assets/config/pluginInit";

export default {
  auth: true,
  layout: "admin",
  // name: "ProfileEdit",
  components: { tabNav, tabNavItems, tabContent, tabContentItem },
  mounted() {
    this.user.fullname = this.$store.state.auth.user["fullName"];
    this.user.email = this.$store.state.auth.user["email"];
    xray.index();
  },
  data() {
    return {
      gambardariBASE64: localStorage.getItem("imgData"),
      user: {
        fullname: "",
        lname: "",
        name: "",
        username: "",
        email: "",
        current_pass: "",
        confirm_pass: "",
        new_password: "",
        token: "xxxx",
      },
    };
  },
  methods: {
    async saveProfile() {
      try {
        const res = await this.$axios.$post("/users/save-profile", {
          fullName: this.user.fullname,
          email: this.user.email,
        });
        await alert("Berhasil Mengubah Profile");
        await location.reload();
      } catch (err) {
        alert("Gagal Mengubah Profile");
      }
    },
    async changePass() {
      if (this.user.new_password != this.user.confirm_pass) {
        alert("Pass baru dan konfirm pass tdk sama");
      } else {
        try {
          const res = await this.$axios.$post("/users/reset-password", {
            token: this.user.token,
            password: this.user.new_password,
          });
          await alert("Berhasil Mengubah Password");
          // await location.reload();
        } catch (err) {
          alert("Gagal Ubah Password");
        }
        // alert("Pass diubah")
      }
    },

    saveToLocalStorage() {
      var bannerImage = document.getElementById("imagePreview");
      // var imgData = this.getBase64Image(bannerImage);
      

      const file = document.querySelector("input[type=file]").files[0];
      const reader = new FileReader();

      let rawImg;
      reader.onloadend = () => {
        rawImg = reader.result;
        console.log(rawImg);
        localStorage.setItem("imgData", rawImg);
        location.reload();
      };
      reader.readAsDataURL(file);
      // console.log(file);
      
    },
  },
};
</script>
