// Bootstrap Css
// @import "~bootstrap/scss/bootstrap";
// @import "~bootstrap/scss/bootstrap-grid";

// Animate css
@import "../css/animate.css";
// @import url("https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css");

@import "~node-snackbar/src/sass/snackbar.sass";

// [dir="rtl"] {
@import "../css/bootstrap";
@import "../css/light/typography";
@import "../css/light/style";
@import "../css/light/responsive";
// }

.iq-global-search > ul > li a,
.slick-arrow,
.breadcrumb-item > a {
  color: var(--iq-primary);
  &:hover {
    color: var(--iq-primary);
  }
}

[dir="rtl"] {
  @import "../css/rtl/bootstrap";
  @import "../css/rtl/light/typography";
  @import "../css/rtl/light/style";
  @import "../css/rtl/light/responsive";
}

// Font awesome icon Css
