<template>
  <b-container>
    <div>
      <b-card class="iq-mb-3" header="Informasi Pribadi">
        <b-tabs content-class="mt-3" justified>
          <b-tab title="Informasi Pribadi" active>
            <b-row>
              <b-col>
                <img
                  :src="gambardariBASE64"
                  class="img-fluid rounded"
                  width="100"
                  height="100"
                  alt="user"
                />
              </b-col>
              <b-col> </b-col>
            </b-row>
            
              <b-row>
                <b-col>
                  <b-form-group
                    id="input-name-group"
                    label="Nama :"
                    label-for="input-name"
                  >
                    <p>{{this.$store.state.auth.user["fullName"]}}</p>
                  </b-form-group>
                </b-col>
                <b-col>
                  <b-form-group label="NIP" label-for="input-NIP">
                    <b-form-input readonly id="input-NIP"></b-form-input>
                  </b-form-group>
                </b-col>
                <div class="w-100"></div>
                <b-col>
                  <b-form-group label="Jabatan :" label-for="input-jabatan">
                    <b-form-input readonly id="input-jabatan"></b-form-input>
                  </b-form-group>
                </b-col>
                <b-col>
                  <b-form-group label="Nomer HP" label-for="input-phone">
                    <b-form-input readonly id="input-phoe"></b-form-input>
                  </b-form-group>
                </b-col>
                <div class="w-100"></div>
                <b-col>
                  <b-form-group label="Email" label-for="input-email">
                    <p>{{this.user.email = this.$store.state.auth.user["email"]}}</p>
                  </b-form-group>
                </b-col>
                <b-col>
                  <b-form-group label="Tanggal Lahir" label-for="input-ttl">
                    <b-form-input readonly id="input-ttl"></b-form-input>
                  </b-form-group>
                </b-col>
              </b-row>
          </b-tab>
        </b-tabs>
      </b-card>
    </div>
  </b-container>
</template>
<script>
import tabNav from "../../components/tab/tab-nav.vue";
import tabNavItems from "../../components/tab/tab-nav-items.vue";
import tabContent from "../../components/tab/tab-content.vue";
import tabContentItem from "../../components/tab/tab-nav-items.vue";
import { xray } from "@/static/assets/config/pluginInit";

export default {
  auth: true,
  layout: "admin",
  // name: "ProfileEdit",
  components: { tabNav, tabNavItems, tabContent, tabContentItem },
  mounted() {
    this.user.fullname = this.$store.state.auth.user["fullName"];
    this.user.email = this.$store.state.auth.user["email"];
    xray.index();
  },
  data() {
    return {
      gambardariBASE64: localStorage.getItem("imgData"),
      user: {
        fullname: "",
        lname: "",
        name: "",
        username: "",
        email: "",
        password: "",
        address1: "",
        address2: "",
        company_name: "",
        mobile_no: "",
        country: "",
        state: "",
        city: "",
        pincode: "",
        role: "",
        gender: "",
        dob: "",
        url: "",
      },
      currentPassword: "",
    };
  },
  methods: {
    previewImage: function (event) {
      const input = event.target;

      if (input.files && input.files[0]) {
        const reader = new FileReader();

        reader.onload = (e) => {
          this.user.profile_image = e.target.result;
        };

        reader.readAsDataURL(input.files[0]);
      }
    },
    changePassword: function () {},
  },
  methods: {
    asyncData() {},
  },
};
</script>
