<template>
  <div>
    <div id="show-overlay"></div>
    <Loader />
    <div class="wrapper">
      <!-- Sidebar  -->
      <SideBarStyle1
        :items="verticalMenu"
        :horizontal="horizontal"
        :logo="logo"
        @toggle="sidebarMini"
      />
      <div
        id="content-page"
        class="content-page"
        :class="horizontal ? 'ml-0' : ''"
      >
        <!-- TOP Nav Bar -->
        <NavBarStyle1
          title="Dashboard"
          @toggle="sidebarMini"
          :logo="logo"
          :horizontal="horizontal"
          :items="horizontalMenu"
        >
          <template slot="responsiveRight">
            <ul class="navbar-nav ml-auto navbar-list"></ul>
          </template>
          <template slot="right">
            <b-dropdown no-caret variant="outline" button-content="">
              <template v-slot:button-content>
                <div>
                  <a
                    href="#"
                    class="
                      search-toggle
                      iq-waves-effect
                      d-flex
                      align-items-center
                    "
                  >
                    <img
                      :src="gambardariBASE64"
                      class="img-fluid rounded mr-3"
                      alt="user"
                      width="40"
                      height="20"
                    />
                    <div class="caption">
                      <h6 class="mb-0 line-height">{{ user.fullName }}</h6>
                      <span class="text-right font-size-12">
                        {{ user.email }}
                      </span>
                    </div>
                  </a>
                </div>
              </template>
                <div class="iq-dropdown">
                  <div class="iq-card shadow-none m-0">
                    <div class="iq-card-body item-body p-0">
                      <div class="p-3 bg-primary header">
                        hallo
                        {{ this.$store.state.auth.user["fullName"] }}
                        <h5 class="mb-0 line-height"></h5>
                        <span class="font-size-12">
                          {{ this.$auth.user["email"] }}
                        </span>
                      </div>
                      <div class="subItems">
                        <a href="#" class="iq-sub-card iq-bg-primary-hover">
                        <div class="media align-items-center">
                          <div class="rounded iq-card-icon iq-bg-primary">
                            <i class="ri-file-line"></i>
                          </div>
                          <div class="media-body ml-3">
                            <nuxt-link to="/profile">
                              <h6 class="mb-0">Profile saya</h6>
                              <p class="mb-0 font-size-12">Lihat Profile Saya</p>
                            </nuxt-link>
                          </div>
                        </div>
                      </a>
                      </div>
                      <div class="subItems">
                        <a
                        href="#"
                        class="iq-sub-card iq-bg-primary-success-hover items"
                      >
                        <div class="media align-items-center">
                          <div class="rounded iq-card-icon iq-bg-success">
                            <i class="ri-profile-line"></i>
                          </div>
                          <div class="media-body ml-3">
                            <nuxt-link to="/profile/edit">
                              <h6 class="mb-0">Edit Profile</h6>
                              <p class="mb-0 font-size-12">Ubah Profile Saya</p>
                            </nuxt-link>
                          </div>
                        </div>
                      </a>
                      </div>
                      <div class="d-inline-block w-100 text-center p-3">
                        <a
                          class="iq-bg-danger iq-sign-btn"
                          href="javascript:void(0)"
                          @click="logout"
                          role="button"
                          >Keluar <i class="ri-login-box-line ml-2"></i
                        ></a>
                      </div>
                    </div>
                  </div>
                </div>
            </b-dropdown>
          </template>
        </NavBarStyle1>
        <!-- TOP Nav Bar END -->
        <transition
          name="router-anim"
          :enter-active-class="`animated ${animated.enter}`"
          mode="out-in"
          :leave-active-class="`animated ${animated.exit}`"
        >
          <router-view />
        </transition>
        <!-- <FooterStyle1>
          <template v-slot:left>
            <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
            <li class="list-inline-item"><a href="#">Terms of Use</a></li>
          </template>
          <template v-slot:right>
            Copyright 2021 - All Rights Reserved.
          </template>
        </FooterStyle1> -->
      </div>
    </div>
  </div>
</template>
<script>
import Loader from "@/components/loader/Loader";
import SideBarStyle1 from "@/components/sidebars/SideBarStyle1";
import NavBarStyle1 from "@/components/navbars/NavBarStyle1";
import SideBarItems from "@/FackApi/json/SideBar";
import HorizontalItems from "@/FackApi/json/HorizontalMenu";
import profile from "@/static/assets/images/user/1.jpg";
import loader from "@/static/assets/images/logo/transparent.png";
import { xray } from "@/static/assets/config/pluginInit";
import { Users } from "@/FackApi/api/chat";
import { mapGetters, mapActions } from "vuex";
export default {
  name: "Layout1",
  components: {
    Loader,
    SideBarStyle1,
    NavBarStyle1,
  },
  mounted() {
    this.updateRadio();
  },
  computed: {
    ...mapGetters({
      selectedLang: "Setting/langState",
      langsOptions: "Setting/langOptionState",
      colors: "Setting/colorState",
    }),
  },
  watch: {},
  // sidebarTicket
  data() {
    return {
      gambardariBASE64: localStorage.getItem("imgData"),
      horizontal: false,
      mini: false,
      darkMode: false,
      animated: { enter: "zoomIn", exit: "zoomOut" },
      animateClass: [
        { value: { enter: "zoomIn", exit: "zoomOut" }, text: "Zoom" },
        { value: { enter: "fadeInUp", exit: "fadeOutDown" }, text: "Fade" },
        {
          value: { enter: "slideInLeft", exit: "slideOutRight" },
          text: "Slide",
        },
        {
          value: { enter: "rotateInDownLeft", exit: "rotateOutDownLeft" },
          text: "Roll",
        },
      ],
      horizontalMenu: HorizontalItems,
      verticalMenu: SideBarItems,
      userProfile: profile,
      logo: loader,
      usersList: Users,
      rtl: false,
    };
  },
  computed: {
    user() {
      return this.$store.state.auth.user;
    },
  },
  methods: {
    updateRadio() {
      this.horizontal = this.$store.getters["Setting/horizontalMenuState"];
      this.mini = this.$store.getters["Setting/miniSidebarState"];
    },
    sidebarHorizontal() {
      this.$store.dispatch("Setting/horizontalMenuAction");
      this.updateRadio();
    },
    sidebarMini() {
      xray.triggerSet();
      this.$store.dispatch("Setting/miniSidebarAction");
      this.updateRadio();
    },
    navbarAction() {
      xray.navbarAction();
    },
    rtlChange() {
      if (this.rtl) {
        this.rtlRemove();
      } else {
        this.rtlAdd();
      }
    },
    changeColor(code) {
      document.documentElement.style.setProperty("--iq-primary", code.primary);
      document.documentElement.style.setProperty(
        "--iq-primary-light",
        code.primaryLight
      );
      if (this.darkMode) {
        document.documentElement.style.setProperty(
          "--iq-bg-dark-color",
          code.bodyBgDark
        );
      } else {
        document.documentElement.style.setProperty(
          "--iq-bg-light-color",
          code.bodyBgLight
        );
      }
    },
    reset() {
      this.changeColor({
        primary: "#827af3",
        primaryLight: "#b47af3",
        bodyBgLight: "#efeefd",
        bodyBgDark: "#1d203f",
      });
      this.animated = { enter: "zoomIn", exit: "zoomOut" };
      this.light();
    },
    async logout() {
      localStorage.removeItem("imgData");
      await this.$auth.logout();
      this.$router.push("/login");
    },
    langChange(lang) {
      this.langChangeState(lang);
      this.$i18n.locale = lang.value;
      document.getElementsByClassName("iq-show")[0].classList.remove("iq-show");
      if (lang.value === "ar") {
        this.rtlAdd(lang);
      } else {
        this.rtlRemove(lang);
      }
    },
    ...mapActions({
      langChangeState: "Setting/setLangAction",
      rtlAdd: "Setting/setRtlAction",
      rtlRemove: "Setting/removeRtlAction",
    }),
  },
};
</script>
<style>
.item-body{
  width: 290px;
}
.header{
  border-radius:   25px 25px 0px 0px;
  margin-bottom: 14px;
}
.subItems{
  padding-top: 5px;
  margin-bottom: 10px;
  padding-left: 12px;

}
</style>