<template>
  <div>
    <!-- <Loader /> -->
    <section class="sign-in-page">
      <b-container class="sign-in-page-bg mt-5 p-0">
        <div class="row no-gutters">
          <div class="col-md-6 text-center position-relative">
            <div class="sign-in-detail text-white">
              <img :src="logo" class="img-fluid" height="100" width="150" alt="logo yohannes gabriel">
              <b><h5 class="text-white">Yayasan Yohannes Gabriel Perwakilan I</h5></b>
              <Slick :option="slickOptions">
                <div class="item">
                  <img src="https://i.postimg.cc/RhhKGDBq/DSC0097.jpg" class="img-fluid mb-4" alt="logo">
                  <h4 class="mb-1 text-white">Visi</h4>
                  <p>Mewujudkan pendidikan Katolik yang membentuk pribadi berintegritas</p>
                </div>
                <!-- <div class="item">
                  <img src="https://source.unsplash.com/900x400/?school,education" class="img-fluid mb-4" alt="logo">
                  <h4 class="mb-1 text-white">Lorem lorem</h4>
                  <p>Lorem ipsum lor dolor e styla un des markroco</p>
                </div>
                <div class="item">
                  <img src="https://source.unsplash.com/900x400/?school,education" class="img-fluid mb-4" alt="logo">
                  <h4 class="mb-1 text-white">Lorem lorem</h4>
                  <p>Lorem ipsum lor dolor e styla un des markroco</p>
                </div> -->
              </Slick>
            </div>
          </div>
          <div class="col-md-6 position-relative">
            <div class="sign-in-from">
              <nuxt />
            </div>
          </div>
        </div>
      </b-container>
    </section>
  </div>
</template>
<script>
import Loader from '@/components/loader/Loader'
import logo from '@/static/assets/images/logo/logo_transparent.png'
import { xray } from '@/static/assets/config/pluginInit'
import bgImage from '@/static/assets/images/login/2.png'
import Slick from '../components/slider/Slick.vue'
export default {
  name: 'AuthLayout1',
  components: {
    Loader,
    Slick
  },
  mounted () {
    xray.index()
  },
  data () {
    return {
      slickOptions: {
        slidesToShow: 1,
        arrows: false,
        dots: true
      },
      logo: logo,
      bgImageURL: bgImage
    }
  }
}
</script>
