<template>
  <b-container fluid>
    <b-row>
      <b-col lg="12">
        <iq-card class-name="iq-card-block">
          <div
            class="
              d-flex
              flex-column
              mt-5
              pt-5
              pb-5
              mb-5
              justify-content-center
              align-items-center
            "
          >
            <img
              :src="logo"
              class="img-fluid mx-auto"
              height="250"
              width="250"
              alt="logo yohannes gabriel"
            />
            <h3>Selamat Datang di Sistem Evaluasi</h3>
            <h2><b>Yohannes Gabriel</b></h2>
            <h2><b>Perwakilan I</b></h2>
            <ul>
              <li v-for="todo in todos" :key="todo.text">
                <input
                  :checked="todo.done"
                  @change="toggle(todo)"
                  type="checkbox"
                />
                <span :class="{ done: todo.done }">{{ todo.text }}</span>
              </li>
            </ul>
          </div>
        </iq-card>
      </b-col>
    </b-row>
  </b-container>
</template>
<script>
import { xray } from "@/static/assets/config/pluginInit";
import { mapGetters } from "vuex";
import IqCard from "@/components/cards/iq-card";
import logo from "@/static/assets/images/logo/logo_transparent.png";
export default {
  layout: "admin",
  name: "dashboard",
  components: { IqCard },
  mounted() {
    xray.index();
  },
  computed: {
    ...mapGetters({
      lang: "Setting/langState",
    }),
    todos() {
      return this.$store.state.todos.list;
      return console.log(this.$store.state.todos.list)
    },
  },
  watch: {},
  methods: {},
  data() {
    return {
      logo: logo,
    };
  },
};
</script>