<template>
  <ValidationObserver ref="form" v-slot="{ handleSubmit }">
    <form class="mt-4" novalidate @submit.prevent="handleSubmit(onSubmit)">
      <ValidationProvider vid="email" name="E-mail" rules="required|email" v-slot="{ errors }">
        <div class="form-group ">
          <input
            type="password"
            :class="
              'form-control mb-0' + (errors.length > 0 ? ' is-invalid' : '')
            "
            id="passwordInput"
            placeholder="Password"
            required
          />
          <div class="invalid-feedback">
            <span>{{ errors[0] }}</span>
          </div>
        </div>

        <div class="form-group ">
          <input
            type="password"
            :class="
              'form-control mb-0' + (errors.length > 0 ? ' is-invalid' : '')
            "
            id="passwordInput2"
            placeholder="Konfirmasi Password"
            required
          />
          <div class="invalid-feedback">
            <span>{{ errors[0] }}</span>
          </div>
        </div>
      </ValidationProvider>
      <div class="d-inline-block w-100">
        <div class="custom-control custom-checkbox d-inline-block mt-2 pt-1">
          <input type="checkbox" class="custom-control-input" :id="formType">
          <!-- <label class="custom-control-label" :for="formType">Remember Me</label> -->
        </div>
        <button @click="sendForgPass" style="background: #365466;" class="btn float-right text-white">Kirim</button>
      </div>
    </form>
  </ValidationObserver>
</template>

<script>
import SocialLoginForm from './SocialLoginForm'
import { mapGetters } from 'vuex'

export default {
  name: 'SignIn1Form',
  data() {
    return {
      user: {
        username: "",
      },
    };
  },
  mounted () {
    this.user.username = this.user.username
  },
  computed: {
    ...mapGetters({
      stateUsers: 'Setting/usersState'
    })
  },
  methods: {
    async sendForgPass(){
      try {
          // const res = await this.$axios.$post("/users/forgot-password", {
          //  username: this.user.username
          // });
          await alert("PASS RESETED");
          this.$router.push("/");
          // await location.reload();
        } catch (err) {
          alert(err.message);
        }
    }
  }
}
</script>
